@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: "SVN-Gotham";
  src: url("./fonts/SVN-Gotham\ Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SVN-Gotham-Bold";
  src: url("./fonts/SVN-Gotham\ Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "SVN-Gotham-Book";
  src: url("./fonts/SVN-Gotham\ Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "SVN-Gotham", sans-serif;
}
body {
  scrollbar-width: none; /* Firefox */
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE 10+ */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
html::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
a {
  text-decoration: none !important;
}
